.home-container {
  text-align: center;
  margin-top: 10%;
  padding: 0 1rem; 
}

.text-container {
  margin-bottom: 2rem;
}

.main-heading {
  font-family: 'Roper';
  font-size: 7rem; 
  color: black; 
}

@media screen and (max-width: 768px) {
  .main-heading {
    font-size: 4rem; 
  }
}
